* {
    margin: 0px;
    box-sizing: border-box;
}

.cv-preview {
    width: 793px;
    height: 1122px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.general-info {
    background-color: var(--primary);
    padding: 15px;
    /* height: 150px; */
    color: white;
}

.contact {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.contact > p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact > p > img {
    width: 20px;
}

/*************
*************/

.preview-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    height: 100%;
    /* overflow: hidden; */
}

.company-name,
.institution-name {
    color: var(--secondary2);
}

.profile-description,
.experience-container,
.education-container {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(131, 130, 130, .5);
}

/*************
*************/

/* .experience-container {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(131, 130, 130, .5);
} */

.experience-preview,
.education-preview {
    margin-top: 10px;
}

.position-time,
.education-time {
    display: flex;
    justify-content: space-between;
}

.position {
    font-weight: bold;
}

.qualification-name {
    font-weight: bold;
}


.sidebar {
    background-color: grey;
}
 