* {
    margin: 0px;
    box-sizing: border-box;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: var(--primary);
    color: white;
    /* margin-top: 50px; */
}